// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F8F8F8;


// MeetU colors:
$mu-pink: #ef476f;
$mu-green: #06dba2;
$mu-mid-green: #0cb0a9;
$mu-blue: #118ab2;
$mu-dark-blue: #073b4c;
$mu-header: #052B38;
