.event-form {
  width: 500px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
}

.event-title {
  color: #031d26;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 10px;
  font-weight: bold;
  text-align: center;
}
