.event-form {
  width: 500px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
}

.event-title {
  color: #073b4c;
  font-family: 'Bebas Neue', cursive;
  margin: 10px;
  font-weight: bold;
}
