.event-form {
  max-width: 600px;
  padding: 50px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
}

.event-title {
  margin-bottom: 30px;
  color: #031d26;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 10px;
  font-weight: bold;
  text-align: center;
}
