// Specific CSS for your home-page
.trending-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(221, 221, 221);
  .title-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.home-carousel-container {
  width: 380px;
}

.trending-card {
  width: 100%;
  box-shadow: none;
  &:hover {
    box-shadow: none;
  }
  .card-trip-infos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
  }
}

@media (max-width: 600px) {
  .crazy-events {
    display: flex !important;
    flex-direction: column !important;
    .btn {
      width: 92% !important;
    }
  }
  .trending-container {
    margin-top: 20px;
    flex-direction: column;
    .title-container {
      width: 62%;
    }
  }
}