<!--footer starts from here-->
<footer class="footer" id="footer">
  <div class="container">
    <div class="row bottom_border">
      <div class=" col-sm-4 col-md col-sm-4  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>

        <p class="mb10">We are a young company building awesome stuff. Nice to meetU :)</p>
        <p><i class="fa fa-location-arrow"></i> Habana y Segurola - C.A.B.A - Argentina</p>
        <p><i class="fa fa-phone"></i>  +54-99878398  </p>
        <p><i class="fa fa fa-envelope"></i> gunterglenn33@gmail.com  </p>
      </div>

      <div class=" col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>

        <ul class="footer_ul_amrc">
          <li><a href="https://www.meetu.one/users/sign_in">Sign in</a></li>
          <li><a href="https://www.meetu.one/events">Events</a></li>
          <li><a href="https://www.meetu.one/events/new">Post an event</a></li>
        </ul>

      </div>
    </div>



  <div class="d-flex align-items-center flex-column">
    <ul class="foote_bottom_ul_amrc">
      <li><a href="https://www.meetu.one/">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="www.linkedin.com/in/glenn-g-b383aa109" target="_blank">Contact</a></li>
    </ul>

    <p class="text-center">| Copyright@2021 | Designed by <a href="#">Mono con navaja</a> at Le Wagon |</p>

    <div class="social-footer d-flex justify-content-between">
      <a href="https://github.com/glenn33/meetU" target="_blank"><i class="fab fa-github"></i></a>
      <a href="www.linkedin.com/in/glenn-g-b383aa109" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.facebook.com/gunterglenn/" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/gglenn33/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
  </div>

  </div>
</footer>
