<!--footer starts from here-->
<footer class="footer" id="footer">
  <div class="container">
    <div class="row bottom_border">
      <div class=" col-sm-4 col-md col-sm-4  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>

        <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <p><i class="fa fa-location-arrow"></i> Habana y Segurola - C.A.B.A - Argentina</p>
        <p><i class="fa fa-phone"></i>  +54-99878398  </p>
        <p><i class="fa fa fa-envelope"></i> info@monoconnavaja.com  </p>
      </div>

      <div class=" col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>

        <ul class="footer_ul_amrc">
          <li><a href="#">Event rules</a></li>
          <li><a href="#">All categories</a></li>
        </ul>

      </div>
    </div>



  <div class="d-flex align-items-center flex-column">
    <ul class="foote_bottom_ul_amrc">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>

    <p class="text-center">| Copyright@2021 | Designed With by <a href="#">Mono con navaja</a> at Le Wagon |</p>

    <div class="social-footer d-flex justify-content-between">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>

  </div>
</footer>
