<div class="container">
  <h1>Participate of our events for FREE</h1>
  <ul>
  <% @events.each do |event| %>
    <li><%= event.title %> | 
    <%= link_to "See event", event_path(event) %></li>
  <% end %>
  </ul>
</div>

