<div class="banner pt-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://bit.ly/3AyI5ac);">
  <div class="container d-flex flex-column mb-5">
    <h1 class="mb-4"><strong>Connect with strangers, live new experiences</strong>!</h1>
    <h4 class="mb-4" style="color:rgb(6, 219, 162); font-family:Nunito";>The easiest way to organize events with strangers wherever you go!</h4>

    </div>
  </div>
</div>

<h2 class="text-center mt-3" style="color:rgb(7, 59, 76);">CATEGORIES</h2>

<div class="container">
  <div class="row">
    <div class="cards">
      <div class="card-category col-12 col-lg-12" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://bit.ly/3xlgnM0)">
        Sports
      </div>

      <div class="card-category col-12 col-lg-12" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://bit.ly/3yufnFz)">
        Socialize
      </div>

      <div class="card-category col-12 col-lg-12" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://bit.ly/3wiS3Jn)">
        Outdoors
      </div>
    </div>
  </div>

  <div class="row">
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://bit.ly/2TKHPUO)">
        Cultural
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://bit.ly/3wjBgFZ)">
        Entrepreneur
      </div>

       <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://bit.ly/3wgoFDL)">
        Travel
      </div>
    </div>
  </div>
</div>

