<div class="banner pt-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://bit.ly/3AyI5ac);">
  <div class="container d-flex flex-column mb-5">
    <h1 class="mb-4"><strong>Connect with strangers, live new experiences</strong>!</h1>
    <h4 class="mb-4" style="color:rgb(246, 129, 114); font-family:Nunito";>Quick and easy online mobility rental platform!</h4>

    </div>
  </div>
</div>
