.search-bar-div-i {
    margin:0 auto;
    width: 70%;
    background-color: white;
    height: 55px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
    padding-right: 10px;
  }
  
  .search-bar-i {
    display: flex;
    width: 100%;
    .btn-i {
      margin-right: 0;
      padding: 7px 16px;
      border-radius: 8px;
    }
  
  }
  .search-form-i {
    border: 0;
    border-right: 1px solid rgb(221, 221, 221);
    width: 75%;
    &:focus {
      outline: none;
    }
  }
  .location-form-i {
    border: 0;
    border-radius: 0;
    border-right: 1px solid rgb(221, 221, 221);
  }

  .date-form-i {
    color: rgb(120, 120, 120);
    border: 0;
    padding: 0 15px;
    width: 75%;
    color: grey;
    &:focus {
      outline: none;
    }
  }
