.search-bar-div {
  margin-top: 48px;
  max-width: 700px;
  background-color: white;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  padding-right: 10px;
}

.search-bar {
  display: flex;
  width: 100%;
  .btn {
    margin-right: 0;
    padding: 9px 17px;
  }

}
.search-form {
  border: 0;
  border-right: 1px solid rgb(221, 221, 221);
  width: 75%;
  &:focus {
    outline: none;
  }
}
.location-form {
  border: 0;
  border-radius: 0;
}